<label>Server name</label>

<!-- one way event binding <input
type="text"
class="form-control"
(input)="onUpdateServerName($event)"> -->

<input
type="text"
class="form-control"
[(ngModel)]="serverName">

<!-- <p>{{serverName}}</p> -->

<button class="btn btn-primary"
[disabled]="!allowNewServer"
 (click)="onCreateServer()">Add server</button>

<!-- <p>{{serverCreatedStatus}}</p>  -->
  <!--simple referance to the result of the method -->
<p *ngIf="serverCreated; else noServer">server was create, server name is {{ serverCreatedStatus }}</p>
<ng-template #noServer>
    <p #noServer>No server was created</p>
</ng-template>


<div *ngFor ="let server of servers">{{server}}</div>

<app-server ></app-server>
<!-- <app-server></app-server> -->
